<html>
<body>
<h1> Here is an example of one of the more basic programs that we developed in this class. </h1>
<iframe src="https://trinket.io/embed/python/4f6342d5cf" width="50%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
<p> I also assisted with the development of a multipuropse calculator. </p>
<a href="/Jacob">Jacob</a>
<p> I made the code for the use of a controller on the vex robots we used for self driving </p>
<img src= "{{url_for('static', filename='/Image/Screenshot 2023-05-25 09.22.42.png')}}" >
<a href='/'>Home</a>
</body>
</html>
