<html>
<body>
 <link rel="stylesheet" href='/static/style.css' />
<h1>Jacob's Page </h1>
 <a href='/Maddix'>Maddix's Place</a>
<a href='/Paul'>Paul's Place</a>
<a href='/Jakobi'>Jakobi's Place</a>
<a href='/skylee'>Skylee's Place</a>
<a href='/JohnN'>John N's Place</a>
<a href='/Spencer'>Spencer's Place</a>
<a href='/JohnC'>JohnC's Place</a> 
<a href='/JackRC'>Jack's Place</a>
<a href='/'>Home</a>
 <p> A Calculator app that I made with a classmate to allow for students to easily do complex math with helpful prompts along the way.</p>
<iframe src="https://trinket.io/embed/python/7900921ed9" width="50%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
 <img src= "{{url_for('static', filename='static/Screenshot 2023-05-18 9.26.01 AM (1).png)}}" >
 </body>
</html>
