<html>
body {
    background: blue;
    color: yellow;
}
 <body>
 <link rel="stylesheet" href='/static/style.css' />
<h1>Jacob's Page </h1>
 <a href='/Maddix' class='link' >Maddix's Place</a>
<a href='/Paul'class='link'>Paul's Place</a>
<a href='/Jakobi'class='link'>Jakobi's Place</a>
<a href='/skylee'class='link'>Skylee's Place</a>
<a href='/JohnN'class='link'>John N's Place</a>
<a href='/Spencer'class='link'>Spencer's Place</a>
<a href='/JohnC'class='link'>JohnC's Place</a> 
<a href='/JackRC'class='link'>Jack's Place</a>
<a href='/'class='link'>Home</a>
 <p> A Calculator app that I made with a classmate to allow for students to easily do complex math with helpful prompts along the way.</p>
<iframe src="https://trinket.io/embed/python/7900921ed9" width="50%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
 <blockquote class="imgur-embed-pub" lang="en" data-id="a/YmEhyZC" data-context="false" ><a href="//imgur.com/a/YmEhyZC"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
 </body>
  .link {
        color:white;
        Text-align:center;
        font-size: 50px;
        margin:50px;
        padding:150px;
        border-radius:10px;
        border:5px solid #901;
      }
</html>
