<html>
 <body style="background-color: #000080;">
<h1>Jacob's Page </h1>

 <a href='/Maddix'style="color:#FFD700;">Maddix's Place</a>
<a href='/Paul'style="color:#FFD700;">Paul's Place</a>
<a href='/Jakobi'style="color:#FFD700;">Jakobi's Place</a>
<a href='/skylee'style="color:#FFD700;">Skylee's Place</a>
<a href='/JohnN'style="color:#FFD700;">John N's Place</a>
<a href='/Spencer'style="color:#FFD700;">Spencer's Place</a>
<a href='/JohnC'style="color:#FFD700;">JohnC's Place</a> 
<a href='/JackRC'style="color:#FFD700;">JackRC's Place</a>
<a href='/'>Home</a>

 <p> A Calculator app that I made with a classmate to allow for students to easily do complex math with helpful prompts along the way.</p>
<iframe src="https://trinket.io/embed/python/7900921ed9" width="50%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
 <p> Next is the part of our block based app that I developed. I made the sign in page where you have to have a password to sign in as a teacher and send messages.</p>
  <img src= "{{url_for('static', filename=/Image/Screenshot 2023-05-19 9.32.24 AM.png')}}" >
 <p> The block code that I designed to make our vexcode robots follow eachother. The vision sensor took a lot of tinkering to get to work right but it eventually did.</p> 
  <img src= "{{url_for('static', filename='/Image/Screenshot 2023-05-18 9.26.01 AM (1) (1).png')}}" >
 </body>
 
</html>
