<html>
<body>
<link rel="stylesheet" href='/static/style.css' />
<html>
<body>
  <h1> Johns Page.</h1>
  <p> This is John Nelson page, and one highlight from Unit one in CSE was making our own app.
    I made a wack a mole like game where you had to tap on a moving sprite to get points and reach the next level. I 
    really enjoyed making this game because of how much freedom we had, and this was my first time were I felt like I knew 
    what I was coding and had a goal in mind, rather then just following directions.</p>
  <img src='templates/Screenshot 2023-05-18 9.05.14 AM.png'>
  </body>
</html>

