<html>
<body>


<link rel="stylesheet" href='/static/style.css' />

<a href='/Maddix'>Maddix's Place</a>
<a href='/Paul'>Paul's Place</a>
<a href='/Jakobi'>Jakobi's Place</a>
<a href='/skylee'>Skylee's Place</a>
<a href='/Jacob'>Jacob's Place</a>
<a href='/Spencer'>Spencer's Place</a>
<a href='/JohnN'>Johns page. Place</a> 
<a href='/JackRC'>Jack's Place</a>
<a href='/'>Home</a>
<link rel="stylesheet" href='/static/style.css' />
  
<h1> This is John's page </h1>
<P> This is a preview of App Inventor
<img src= "templates/Picture.png" alt= "image"/>
</p>

<h1> This is John's page </h1>

<p> This is a sneek preveiw of a project in MIT App Inventor
<img src= "templates/Picture.png" alt= "image"/>
</p>



</body> 
</html>
