<html>
<body>
<link rel="stylesheet" href='/static/style.css' />
<h1> This is Paul's Page <h1>
 <a href='/Maddix' class='link' >Maddix's Page</a>
<a href='/Jacob'class='link'>Jacob's Page</a>
<a href='/Jakobi'class='link'>Jakobi's Page</a>
<a href='/skylee'class='link'>Skylee's Page</a>
<a href='/JohnN'class='link'>John N's Page</a>
<a href='/Spencer'class='link'>Spencer's Page</a>
<a href='/JohnC'class='link'>JohnC's Page</a> 
<a href='/JackRC'class='link'>Jack's Page</a>
<a href='/'class='link'>Home</a>
  <p> The following <b>image</b> displays a <i>project</i> I worked on for class that could help students better manage their time and busy schedules </p>
<img src= "Screenshot 2023-05-18 9.33.02 AM.png" alt= "Login Page "/>
<img src= "Screenshot 2023-05-18 9.33.16 AM.png" alt= "Main Page "/>
<iframe src="https://www.youtube.com/watch?v=IisBURPsO-8" alt= "Video Made By Caleb Bienson in 7th Grade" width="50%" height="300" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
</body>
</html>
