<html>
<body>


<h1> Peyton's Page</h1>
  <a href='/Paul'>Paul's Page</a>
<a href='/Jakobi'>Jakobi's Page</a>
<a href='/JohnN'>John Nelson's Page</a>
<a href='/skylee'>Skylee's Page</a>
<a href='/Jacob'>Jacob's Page</a>
<a href='/Maddix'>Maddix's Page</a>
<a href='/Spencer'>Spencer's Place</a>
<a href='/JohnC'>JohnC's Page</a> 
<a href='/JackRC'>Jack's Page</a>
<a href='/'>Home</a>
  <style>
    body {
      background: purple;
      color: black;
    }
  </style>
  <p> The first project I made this school year was a Happy Face Adventure game with three diffrent gamemodes. Classic, Carnevil, and Tight Squeeze. Each gamemode has a unique twist on the basic Happy Face Game.</p>
    <img src="https://github.com/STEMfromMills/CSE22-23/blob/main/templates/Screenshot%202023-05-23%208.27.23%20AM.png?raw=true" alt="Screenshot 2023-05-23 8.27.23 AM.png" style="width:100px;height:100px;">
  <p> Another project I made ealier this year in VEXcode was a program that let a robot chase another robot. My team did this by having one robot print out colors on it's screen while driving a pattern and the other robot would follow those colors.</p>
</body>
</html>
