<html>
<body>
 <p> "color: 63C5DA"
<h1> This is skylees page</h1>
 <a href='/Maddix'>Maddix's Place</a>
<a href='/Paul'>Paul's Place</a>
<a href='/Jakobi'>Jakobi's Place</a>
<a href='/Jacob'>Jacob's Place</a>
<a href='/JohnN'>John N's Place</a>
<a href='/Spencer'>Spencer's Place</a>
<a href='/JohnC'>JohnC's Place</a> 
<a href='/JackRC'>Jack's Place</a>
<a href='/'>Home</a>
 <p> This is the code from one of the games we made. The number guessing game.
  
  <iframe src="https://trinket.io/embed/python/fb922f8cee" width="75%" height="600" frameborder="0" marginwidth="0" marginheight="0" allowfullscreen></iframe>
 </body>
</html>
